@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


@layer components {
  h1 {    
    @apply font-normal text-xl sm:text-m3xl lg:text-4xl font-sans;       
  }
  h2 {
    @apply font-bold text-mxl sm:text-m2xl lg:text-3xl font-sans;
  }
  h3 {
    @apply font-normal text-mlg sm:text-mmxl lg:text-2xl font-sans;
  }
  p {
    @apply font-normal text-sm sm:text-lg font-sans;
  }
  
  h6 {
    @apply font-bold text-mmlg sm:text-mlg lg:text-lg font-sans;
  }  
  h4 {
    @apply font-bold text-lg sm:text-lg lg:text-lg font-sans;
  }
  h5 {
    @apply font-bold text-sm sm:text-sm lg:text-sm font-sans;
  }
}


.swal-popup {
  background: rgba(0, 0, 0, 0) !important;
  max-width: 600px;
  
}

.swal-text {
  color: #fff !important;
  font-size: 16px !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

